* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(24, 24, 24);
}

#loadig-screen {
    width: 100%;
    height: 100vh;
    background: #ecf0f1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.loading {
    width: 80px;
    display: flex;
    flex-wrap: wrap;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.loading span {
    width: 32px;
    height: 32px;
    background: orangered;
    margin: 4px;
    animation: scale 1.5s linear infinite;
}

@keyframes scale {
    50% {
        transform: scale(1.2);
    }
}

.loading span:nth-child(1) {
    border-radius: 50% 50% 0 50%;
    background-color: #e64132;
    transform-origin: bottom right;
    animation-delay: .5s;
}
.loading span:nth-child(2) {
    border-radius: 50% 50% 50% 0;
    background-color: #4081ef;
    transform-origin: bottom left;
    animation-delay: 1s;
}
.loading span:nth-child(3) {
    border-radius: 50% 0 50% 50%;
    background-color: #31a452;
    transform-origin: top right;
    animation-delay: 1.5s;
}
.loading span:nth-child(4) {
    border-radius: 0 50% 50% 50%;
    background-color: #f6b801;
    transform-origin: top left;
    animation-delay: 1s;
}

#loadig-screen p {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translatex(-50%);
    font-size: 12px;
    text-align: center;
    color: rgb(121, 121, 121);
}

#progressBar {
    width: 0%;
    height: 6px;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #ff5f6d, #ffc371);
    transition: width 0.2s ease-out;
    z-index: 90;
}

#sideNav {
    width: 200px;
    height: 100vh;
    background-image: linear-gradient(navy, blue);
    position: fixed;
    top: 0;
    right: -200px;
    z-index: 20;
    transition: right .5s;
}
#sideNav ul li {
    list-style: none;
    margin: 50px 20px;
}
#sideNav ul li a {
    text-decoration: none;
    color: #fff;
}

#sideNav .games {
    color: rgb(255, 208, 0);
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
    background-image: linear-gradient(to top left, navy, blue);
    padding: 5px 8px;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: inset 2px 2px 4px navy;
    font-size: 37px;
    }

.toggle {
    position: fixed;
    top: 4%;
    right: 4%;
    width: 40px;
    height: 40px;
    background: #fff;
    z-index: 90;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.08), -10px -10px 20px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
}
.toggle span {
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: navy;
    border-radius: 3px;
    transition: .5s;
}
.toggle span:nth-child(1) {
    transform: translatey(-10px);
    width: 13px;
    left: 8px;
}
.toggle.active span:nth-child(1) {
    width: 25px;
    transform: rotate(45deg);
    transition-delay: .132s;
}
.toggle span:nth-child(2) {
    transform: translatey(10px);
    width: 9px;
    left: 8px;
}
.toggle.active span:nth-child(2) {
    width: 25px;
    transform: rotate(316deg);
    transition-delay: .2s;
}

.toggle.active span:nth-child(3) {
    transform: translatex(35px);
}


nav {
    position: absolute;
    padding: 1rem 1rem;
}
nav h4 {
    font-size: 15px;
}

.container {
    height: 100vh;
}

.container img {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}


.container img:nth-child(3) {
    width: 150%;
    height: auto;
    bottom: 0;
    right: -50px;
}


.container img:nth-child(4) {
    width: 10%;
    height: auto;
}

.container .main-title {
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: 1.7rem;
    transform: translate(-50%, -30%);
    color: #fff;
    text-align: center;
}


.content {
    width: 100%;
    min-height: 100vh;
    background: rgb(24, 24, 24);
    z-index: 2;
    position: absolute;
}

.content-img {
    width: 80%;
    overflow: hidden;
    margin: 20px auto;
    border-radius: 20px;
    z-index: 1;
}

.content-img img {
    width: 100%;
    height: auto;
    outline: inset 2px solid navy;
    z-index: -1;
}

.content-img .social-links {
    text-align: center;
}

.content-img .social-links .fa {
    font-size: 20px;
    color: gold;
    margin: 0 10px;
    padding-top: 10px;
    cursor: pointer;
    transition: .3s;
}
.content-img .social-links .fa:hover {
    transform: scale(0.95);
}

.swiper-links {
    width: 100%;
    text-align: center;
}

.swiper-links .social-links {
    padding-top: 20px;
}

.swiper-links .social-links .fa {
    font-size: 20px;
    color: gold;
    margin: 0 10px;
    cursor: pointer;
    padding-top: 10px;
    text-align: center;
    transition: .3s;
}
.swiper-links .social-links .fa:hover {
    transform: scale(0.95);
}


.copyright {
    width: 100%;
    margin: 0 auto;
    color: #fff;
    padding: 30px 0 20px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}

.copyright a {
    color: rgb(255, 208, 0);
}


#mentors {
    width: 100%;
    height: 50vh;
    background: rgb(24, 24, 24);
    overflow: hidden;
}

#mentors h3 {
 text-align: center;
 font-family: "Kaushan Script", sans-serif;
 padding: 10px 0;
 color: #fff;
}

#mentors h3 span {
 color: rgb(255, 208, 0);
 font-family: "Kaushan Script", sans-serif;
}



.swiper {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
}

.swiper-slide:nth-child(4) img {
    margin-top: -50px;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
    color: #fff;
}

.swiper .swiper-pagination {
    position: absolute;
    bottom: 30%;
    left: 50%;
}

.swiper .swiper-pagination-bullet-active {
    background-color: #fff;
    margin-top: -700px;
    z-index: 100;
}
@media screen and (min-width: 900px) {
    .swiper-slide img {
    margin-top: 400px;
    }
    .swiper {
        width: 80%;
    }
}
